<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="85.3.13" targetFramework="net472" />
  <package id="cef.redist.x86" version="85.3.13" targetFramework="net472" />
  <package id="CefSharp.Common" version="85.3.130" targetFramework="net472" />
  <package id="CefSharp.Wpf" version="85.3.130" targetFramework="net472" />
  <package id="PostSharp" version="6.6.8" targetFramework="net472" />
  <package id="PostSharp.Patterns.Aggregation" version="6.6.8" targetFramework="net472" />
  <package id="PostSharp.Patterns.Aggregation.Redist" version="6.6.8" targetFramework="net472" />
  <package id="PostSharp.Patterns.Common" version="6.6.8" targetFramework="net472" />
  <package id="PostSharp.Patterns.Common.Redist" version="6.6.8" targetFramework="net472" />
  <package id="PostSharp.Patterns.Model" version="6.6.8" targetFramework="net472" />
  <package id="PostSharp.Patterns.Model.Redist" version="6.6.8" targetFramework="net472" />
  <package id="PostSharp.Redist" version="6.6.8" targetFramework="net472" />
</packages>