<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="hostname" value="47.111.174.241" />
    <add key="port" value="27017" />
    <add key="database" value="dc_matrix" />
    <add key="username" value="cloud" />
    <add key="password" value="cloud123" />
    <add key="company" value="backadmin"/>
  </appSettings>
  <connectionStrings>
    <add name="DCIDE.Properties.Settings.grsmConnectionString" connectionString="Data Source=.\express;Initial Catalog=grsm;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PostSharp" publicKeyToken="b13fd38b8f9c99d7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.6.6.0" newVersion="6.6.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Controls" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.2.513.45" newVersion="2020.2.513.45" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Controls.RibbonView" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.2.513.45" newVersion="2020.2.513.45" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Controls.Input" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.2.513.45" newVersion="2020.2.513.45" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Controls.Navigation" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2020.2.513.45" newVersion="2020.2.513.45" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>